﻿@using SunshareCommon
@model  SunshareHubOne.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}
@Styles.Render("~/Content/bundle/custom")
@Html.AntiForgeryToken()
@*<ul id="float-menu" class="mfb-component--br mfb-zoomin">
        <li class="mfb-component__wrap">

            <a href='@Url.Action("Index", "Lead",new {@Id =Model.SalesRepId})' class="mfb-component__button--main" tooltip="Add Lead">
                <i class="mfb-component__main-icon--resting ion-plus-round"></i>
            </a>
       </li>
    </ul>*@

<div class="hpanel">
    <div class="icon_div panel-body text-center">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-2 col-lg-offset-8 animated-panel zoomIn">
                    <input type="text" class="form-control datepic-arrow" name="datepic1" id="min">
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-2 animated-panel zoomIn">
                    <input type="text" class="form-control datepic-arrow" name="" id="max">
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="icon-box1 text-center animated-panel zoomIn">
                    <a id="assigned" href="#"> <img src="~/Content/custom/images/icon-1.png" alt="Icon-1"> </a>
                    <h5>Assigned Lead</h5>
                    <h3 class="count">@Model.AssignedLead</h3>
                </div>
                <div class="icon-box2 text-center animated-panel zoomIn">
                    <a id="saved" href="#"> <img src="~/Content/custom/images/icon-2.png" alt="Icon-2"> </a>
                    <h5>Leads Saved</h5>
                    <h3 class="count">@Model.SavedLead</h3>
                </div>
                <div class="icon-box3 text-center animated-panel zoomIn">
                    <a id="info" href="#"><img src="~/Content/custom/images/icon-3.png" alt="Icon-3"></a>
                    <h5>Information Sent</h5>
                    <h3 class="count">@Model.InformationSent</h3>
                </div>
                <div class="icon-box4 text-center animated-panel zoomIn">
                    <a id="sent" href="#"><img src="~/Content/custom/images/icon-4.png" alt="Icon-4"></a>
                    <h5>Outstanding Contracts</h5>
                    <h3 class="count">@Model.ContractSent</h3>
                </div>
                <div class="icon-box5 text-center animated-panel zoomIn">
                    <a id="signed" href="#"><img src="~/Content/custom/images/icon-5.png" alt="Icon-5"></a>
                    <h5>Contracts Signed</h5>
                    <h3 class="count">@Model.ContractSigned</h3>
                </div>
                <div class="icon-box6 text-center animated-panel zoomIn">
                    <a id="declined" href="#"><img src="~/Content/custom/images/icon-6.png" alt="Icon-6"></a>
                    <h5>Contracts Declined</h5>
                    <h3 class="count">@Model.ContractDeclined</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="icon-box7 text-center animated-panel zoomIn">
                    <a href="#" id="appointment"><img alt="Icon-7" src="~/Content/custom/images/icon-7.png"></a>
                    <h5>Call Back</h5>
                    <h3 class="count">@Model.CallBack</h3>
                </div>
                <div class="icon-box8 text-center animated-panel zoomIn">
                    <a href="#" id="onceCalled"><img alt="Icon-8" src="~/Content/custom/images/icon-8.png"></a>
                    <h5>Once Called</h5>
                    <h3 class="count">@Model.OnceCalled</h3>
                </div>
                <div class="icon-box9 text-center animated-panel zoomIn">
                    <a href="#" id="twiceCalled"> <img alt="Icon-9" src="~/Content/custom/images/icon-9.png"> </a>
                    <h5>Twice Called</h5>
                    <h3 class="count">@Model.TwiceCalled</h3>
                </div>
                <div class="icon-box10 text-center animated-panel zoomIn">
                    <a href="#" id="thriceCalled"> <img alt="Icon-10" src="~/Content/custom/images/icon-10.png"> </a>
                    <h5>Thrice Called</h5>
                    <h3 class="count">@Model.ThriceCalled</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hpanel">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dashboard" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Date & Time")
                        </th>
                        <th>
                            @Html.DisplayName("First Name")
                        </th>
                        <th>
                            @Html.DisplayName("Last Name")
                        </th>
                        <th>
                            @Html.DisplayName("Phone")
                        </th>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                        <th>
                            @Html.DisplayName("Action")
                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Leads)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td class="text-center">
                                @switch (item.LeadStausId)
                                {

                                    case LeadContractStatus.LeadCreated:
                                        @Html.Label("Lead Created", new { @class = "label-savelead" })
                                        break;
                                    case LeadContractStatus.ContractSent:
                                        @Html.Label("Outstanding Contract", new { @class = "label-outstanding" })
                                        break;
                                    case LeadContractStatus.ContractDeclined:
                                        @Html.Label("Contract Declined", new { @class = "label-declined" })
                                        break;
                                    case LeadContractStatus.ContractSigned:
                                        @Html.Label("Contract Signed", new { @class = "label-signed" })
                                        break;
                                    case LeadContractStatus.CotractInformationSent:
                                        @Html.Label("Information Sent", new { @class = "label-infosent" })
                                        break;
                                    default:
                                        @Html.Label("New", new { @class = "label-primary" })
                                        break;
                                }
                            </td>

                            <td align="center">
                                <a href="@Url.Action("Edit", "Lead", new {@salesRepId = item.SalesRepId, @leadId = item.LeadId})"><span class="fa fa-edit"> </span></a>

                                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CallCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppointmnetCount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAssigned)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jqueryCustom")
@section scripts{
    <script>

        $(document).ready(function () {
            $('#sidebar').addClass('displayoff').   removeClass('displayon');
            $('#statusRefresh').removeClass('displayoff').addClass('displayon');
            var table = $('#dashboard').dataTable(
            {
                "columnDefs": [
            {
                "targets": [7, 8, 9],
                "visible": false,
                "searchable": true
            }]
            });
            $('#searchdashboard').dataTable();
            $('#min').keyup(function () { table.draw(); });
            $('#max').keyup(function () { table.draw(); });
            $.fn.dataTableExt.oApi.fnResetAllFilters = function (oSettings, bDraw) {
                for (iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
                    oSettings.aoPreSearchCols[iCol].sSearch = '';
                }
                $('.filter-term').remove();
                oSettings.oPreviousSearch.sSearch = '';
                if (typeof bDraw === 'undefined') bDraw = true;
                if (bDraw) this.fnDraw();
            }
        });
        $('#assigned').click(function () {
            ClearCallFilter();
            ApplyFilter('Lead Created', 5);
            ApplyFilter('0', 7);
            ApplyFilter('True', 9);
            //ChangeSelection($(this));
        });
        $('#saved').click(function () {
            ClearCallFilter();
            ApplyFilter('Lead Created', 5);
            ApplyFilter('0', 7);
            ApplyFilter('False', 9);
            //ChangeSelection($(this));
        });
        $('#sent').click(function () {
            ClearCallFilter();
            ApplyFilter('Outstanding Contract', 5);
            //ChangeSelection($(this));
        });
        $('#info').click(function () {
            ClearCallFilter();
            ApplyFilter('Information Sent', 5);
            //ChangeSelection($(this));
        });
        $('#signed').click(function () {
            ClearCallFilter();
            ApplyFilter('Contract Signed', 5);
            //($(this));
        });
        $('#declined').click(function () {
            ClearCallFilter();
            ApplyFilter('Contract Declined', 5);
            //ChangeSelection($(this));
        });
        $('#onceCalled').click(function () {
            ClearCallFilter();
            ApplyFilter('1', 7);
            ChangeSelection($(this));
        });
        $('#appointment').click(function () {
            ClearCallFilter();
            ApplyFilter('1', 7);
            ChangeSelection($(this));
        });

        $('#twiceCalled').click(function () {
            ClearCallFilter();
            ApplyFilter('2', 7);
            ChangeSelection($(this));
        });
        $('#thriceCalled').click(function () {
            ClearCallFilter();
            ApplyFilter('3', 7);
            ChangeSelection($(this));
        });

        function ChangeSelection(control) {
            $('.btn-info').addClass('btn-default').removeClass('btn-info');
            control.addClass('btn-info').removeClass('btn-default');
        }

        function ApplyFilter(value, column) {
            $('#dashboard').dataTable().fnFilter(value, column);
            $('#dashboard').dataTable().fnDraw();
        }

        function ClearCallFilter() {
            $('#dashboard').dataTable().fnResetAllFilters();
        }

    </script>
}




