﻿@using SunshareCommon
@model  SunshareHubOne.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}
@Html.AntiForgeryToken()
@Styles.Render("~/Content/bundle/custom")
<div class="hpanel">
    <div class="panel-body">
        <table id="dashboard" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Phone")
                    </th>
                    <th>
                        @Html.DisplayName("Email")
                    </th>
                    <th>
                        @Html.DisplayName("Date & Time")
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Leads)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td align="center">
                            <a href='@Url.Action("Assign", "Dashboard",new {@leadId =item.LeadId,@salesRepId=Model.SalesRepId})' class="modal-link" tooltip="">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CallCount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="Assign" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryCustom")
@section scripts{

    <script>
        $(function() {
            $('body').on('click', '.modal-link', function(e) {
                e.preventDefault();
                $(this).attr('data-target', '#Assign');
                $(this).attr('data-toggle', 'modal');
            });

            $('#Assign').on('hidden.bs.modal', function() {
                $(this).removeData('bs.modal');
            });
        });
        $(document).ready(function () {
            var table = $('#dashboard').dataTable(
            {
                "columnDefs": [
            {
                "targets": [5],
                "visible": false,
                "searchable": true
            }]
            }).makeEditable();
        });
    </script>
}




