﻿@using SunshareCommon
@model  SunshareHubOne.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}
@Html.AntiForgeryToken()


<div class="hpanel">
    <div class="icon_div panel-body text-center">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-2 animated-panel zoomIn hidden" id="fltrChannel">
                    <select class="form-control reasoncls" id="" name="">
                        <option selected="" value="0">All</option>
                        <option value="">Choose</option>
                        <option value="">Communitysolar</option>
                        <option value="">Digital</option>
                        <option value="">Digital1</option>
                        <option value="">Enjoysolar</option>
                        <option value="">Facebook</option>
                        <option value="">Minnesota</option>
                        <option value="">Simple</option>
                        <option value="">Solar</option>
                        <option value="">Subscribe</option>
                        <option value="">Twitter</option>
                        <option value="">Wow</option>
                        <option value="">3thesun</option>
                        <option value="">5thesun</option>
                        <option value="">6thesun</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-2 col-lg-offset-8 animated-panel zoomIn " id="fltrStartDate">
                    <input type="text" class="form-control datepic-arrow" name="datepic1" id="min">
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-2 animated-panel zoomIn">
                    <input type="text" class="form-control datepic-arrow" name="" id="max">
                </div>

            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="icon-box11 text-center animated-panel zoomIn">
                    <a id="saved" class="filtermenu" href="#"><img src="~/Content/custom/images/icon-2.png" alt="Icon-2"></a>
                    <h5><span>Leads Saved</span></h5>
                    <h3 class="count">
                        @Model.SavedLead
                    </h3>
                </div>
                <div class="icon-box12 text-center animated-panel zoomIn">
                    <a id="info" class="filtermenu" href="#"><img src="~/Content/custom/images/icon-3.png" alt="Icon-3"></a>
                    <h5><span>Information Sent</span></h5>
                    <h3 class="count">@Model.InformationSent</h3>
                </div>
                <div class="icon-box13 text-center animated-panel zoomIn">
                    <a id="sent" class="filtermenu" href="#"><img src="~/Content/custom/images/icon-4.png" alt="Icon-4"></a>
                    <h5><span>Outstanding Contracts</span></h5>
                    <h3 class="count">@Model.ContractSent</h3>
                </div>
                <div class="icon-box14 text-center animated-panel zoomIn">
                    <a id="signed" class="filtermenu" href="#"><img src="~/Content/custom/images/icon-5.png" alt="Icon-5"></a>
                    <h5><span>Contracts Signed</span></h5>
                    <h3 class="count">@Model.ContractSigned</h3>
                </div>
                <div class="icon-box15 text-center animated-panel zoomIn">
                    <a id="declined" class="filtermenu" href="#"><img src="~/Content/custom/images/icon-6.png" alt="Icon-6"></a>
                    <h5><span>Contracts Declined</span></h5>
                    <h3 class="count">@Model.ContractDeclined</h3>
                </div>
                <div class="icon-box16 text-center animated-panel zoomIn">
                    <a id="appointment" class="filtermenu" href="#"><img src="~/Content/custom/images/icon-7.png" alt="Icon-7"></a>
                    <h5><span>Call Back</span></h5>
                    <h3 class="count">@Model.CallBack</h3>
                </div>
                <div class="icon-box17 text-center animated-panel zoomIn">
                    <a id="enrollment" class="filtermenu" href="#"><img src="~/Content/custom/images/icon-11.png" alt="Icon-8"></a>
                    <h5><span>Web Enrollment</span></h5>
                    <h3 class="count">@Model.WebEnrollment</h3>
                </div>
                <div class="icon-box18 text-center animated-panel zoomIn">
                    <a id="landing" class="filtermenu" href="#">
                        <img src="~/Content/custom/images/icon-13.png" alt="Icon-13">
                    </a>
                    <h5><span>Web Landing</span></h5>
                    <h3 class="count">@Model.WebLanding</h3>
                </div>
                <div class="icon-box19 text-center animated-panel zoomIn">
                    <a id="d2d" class="filtermenu" href="#">
                        <img src="~/Content/custom/images/icon-12.png" alt="Icon-12">
                    </a>
                    <h5><span>D2D</span></h5>
                    <h3 class="count">@Model.D2D</h3>
                </div>
                <div class="icon-box20 text-center animated-panel zoomIn">
                    <a id="others" class="filtermenu" href="#">
                        <img src="~/Content/custom/images/icon-14.png" alt="Icon-10">
                    </a>
                    <h5><span>Others</span></h5>
                    <h3 class="count">@Model.Others</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hpanel">
    <div class="panel-body">
               @* <a href='@Url.Action("AdminAssigninfo", "Dashboard", new {@leadId = item.LeadId, @salesRepId = Model.SalesRepId})' class="bulkAssign" tooltip="">Assign</a>    btn-default badge-danger*@
              <a class="btn"  style="background-color: #f7f9fa" href="#" id="bulkAssign">Assign</a>
        <br>
        @* <a class="btn" href="#" id="bulkDelete">Assign</a>*@
            <div class="table-responsive">
                <table id="dashboard" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.CheckBox("select", new { @id = "selectAll" })
                            </th>
                            <th>
                                @Html.DisplayName("Date & Time")
                            </th>
                            <th>
                                @Html.DisplayName("First Name")
                            </th>
                            <th>
                                @Html.DisplayName("Last Name")
                            </th>
                            <th>
                                @Html.DisplayName("Email")
                            </th>
                            <th>
                                @Html.DisplayName("Phone")
                            </th>
                            <th>
                                @Html.DisplayName("Assigned")
                            </th>
                            <th>
                                @Html.DisplayName("Status")
                            </th>
                            <th>
                                @Html.DisplayName("Action")
                            </th>
                            <th>
                                @Html.DisplayName("Call Count")
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Leads)
                        {
                            <tr>
                                <td>@Html.CheckBox("select",new { @Id=item.LeadId})</td>
                                <td id="datecreated">
                                    @Html.DisplayFor(modelItem => item.DateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RepName)
                                </td>
                                <td class="text-center">

                                    @switch (item.LeadStausId)
                                    {

                                        case LeadContractStatus.LeadCreated:
                                            @Html.Label("Lead Created", new { @class = "label-savelead" })
                                            break;
                                        case LeadContractStatus.ContractSent:
                                            @Html.Label("Outstanding Contract", new { @class = "label-outstanding" })
                                            break;
                                        case LeadContractStatus.ContractDeclined:
                                            @Html.Label("Contract Declined", new { @class = "label-declined" })
                                            break;
                                        case LeadContractStatus.ContractSigned:
                                            @Html.Label("Contract Signed", new { @class = "label-signed" })
                                            break;
                                        case LeadContractStatus.CotractInformationSent:
                                            @Html.Label("Information Sent", new { @class = "label-infosent" })
                                            break;
                                        default:
                                            @Html.Label("New", new { @class = "label-new" })
                                            break;
                                    }
                                </td>
                                <td align="center">
                                    <a href='@Url.Action("AdminAssign", "Dashboard", new {@leadId = item.LeadId, @salesRepId = Model.SalesRepId})' class="modal-link" tooltip="">
                                        <i class="fa fa-user"></i>
                                    </a>

                                    <a href="@Url.Action("Edit", "Lead", new {@salesRepId = item.SalesRepId, @leadId = item.LeadId})" class="m-l-10"><span class="fa fa-edit"> </span></a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CallCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AppointmnetCount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsAssigned)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LeadChannelId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LeadSourceId)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
</div>
</div>

<div class="modal fade" id="Assign" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryCustom")

<script>
    $(function () {
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#Assign');
            $(this).attr('data-toggle', 'modal');
        });

        $('#Assign').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
    });
    $(document).ready(function () {
        $('#sidebar').addClass('displayoff').removeClass('displayon');
        $('#statusRefresh').removeClass('displayoff').addClass('displayon');
        $('.datepic-arrow').datetimepicker({
            timepicker: false,
            format: 'm/d/Y',
            timeFormat: 'hh:mm tt',
            minDate: '-1970/01/01'
        });

        $.fn.dataTableExt.oApi.fnResetAllFilters = function (oSettings, bDraw) {
            for (iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
                oSettings.aoPreSearchCols[iCol].sSearch = '';
            }
            $('.filter-term').remove();
            oSettings.oPreviousSearch.sSearch = '';
            if (typeof bDraw === 'undefined') bDraw = true;
            if (bDraw) this.fnDraw();
        };

        var table = $('#dashboard').dataTable(
        {
            "columnDefs": [
                {
                    "targets": [10, 11, 12, 13],
                    "visible": false,
                    "searchable": true
                }
            ]
        });
        var allPages = table.fnGetNodes();

        $('body').on('click', '#selectAll', function () {
            if ($(this).hasClass('allChecked')) {
                $('input[type="checkbox"]', allPages).prop('checked', false);
            } else {
                $('input[type="checkbox"]', allPages).prop('checked', true);
            }
            $(this).toggleClass('allChecked');
        });
    });
    $('#assigned').click(function () {
        $('#fltrChannel').addClass('hidden col-lg-offset-6');
        $('#fltrStartDate').removeClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('Lead Created', 7);
        ApplyFilter('0', 9);
        ApplyFilter('True', 11);
        //ChangeSelection($(this));
    });
    $('#saved').click(function () {
        $('#fltrChannel').addClass('hidden col-lg-offset-6');
        $('#fltrStartDate').removeClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('Lead Created', 7);
        ApplyFilter('0', 9);
        ApplyFilter('False', 11);
        //ChangeSelection($(this));
    });
    $('#sent').click(function () {
        $('#fltrChannel').addClass('hidden col-lg-offset-6');
        $('#fltrStartDate').removeClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('Outstanding Contract', 7);
        //ChangeSelection($(this));
    });
    $('#info').click(function () {
        $('#fltrChannel').addClass('hidden col-lg-offset-6');
        $('#fltrStartDate').removeClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('Information Sent', 7);
        //ChangeSelection($(this));
    });
    $('#signed').click(function () {
        $('#fltrChannel').addClass('hidden col-lg-offset-6');
        $('#fltrStartDate').removeClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('Contract Signed', 7);
        //($(this));
    });
    $('#declined').click(function () {
        $('#fltrChannel').addClass('hidden col-lg-offset-6');
        $('#fltrStartDate').removeClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('Contract Declined', 7);
        //ChangeSelection($(this));
    });
    $('#enrollment').click(function () {
        $('#fltrChannel').addClass('hidden col-lg-offset-6');
        $('#fltrStartDate').removeClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('4', 12);
        //ChangeSelection($(this));
    });
    $('#appointment').click(function () {
        $('#fltrChannel').addClass('hidden col-lg-offset-6');
        $('#fltrStartDate').removeClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('1', 10);
        //ChangeSelection($(this));
    });

    $('#landing').click(function () {
        $('#fltrChannel').removeClass('hidden col-lg-offset-6');
        $('#fltrStartDate').addClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('9', 12);
        //ChangeSelection($(this));
    });
    $('#d2d').click(function () {
        $('#fltrChannel').addClass('hidden col-lg-offset-6');
        $('#fltrStartDate').removeClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('10', 12);
        //ChangeSelection($(this));
    });
    $('#others').click(function () {
        $('#fltrChannel').addClass('hidden col-lg-offset-6');
        $('#fltrStartDate').removeClass('col-lg-offset-6');
        ClearCallFilter();
        ApplyFilter('1', 12);
        //ChangeSelection($(this));
    });
    //function ChangeSelection(control) {
    //    $('.btn-info').addClass('btn-default').removeClass('btn-info');
    //    control.addClass('btn-info').removeClass('btn-default');
    //};

    function ApplyFilter(value, column) {
        $('#dashboard').dataTable().fnFilter(value, column);
        $('#dashboard').dataTable().fnDraw();
    };

    function ClearCallFilter() {
        $('#dashboard').dataTable().fnResetAllFilters();
    };

    var selector = '.filtermenu';

    $(selector).on('click', function () {
        $(".filtermenu").each(function () {
            $(this).parent().find('h3').removeClass('active');
            $(this).parent().find('h5 span').removeClass('active');
        });

        $(this).parent().find('h3').addClass('active');
        $(this).parent().find('h5 span').addClass('active');
    });

    $('#bulkAssign').click(function (e) {
        e.preventDefault();
        var repId = $('#SalesRepId').val();
        var a = [];
        $("input:checked").each(function () {
            if ($(this).attr("id") !== 'selectAll') {
                a.push($(this).attr("id"));
            }
        });
        var s = a.join(', ');
        alert(s);
        $.ajax({
            url: '@Url.Action("AdminAssignInfo", "Dashboard")',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            data: "{'leadIds': '" + s + "','salesRepId': '" + repId + "' }",
            success: function (data) {
                $('#myReason').modal('hide');
            },
            error: function (xhr, status, error) {
                alert("error");
                alert(xhr.error);
            }
        });
        $(function () {
            $('body').on('click', '#bulkAssign', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#Assign');
                $(this).attr('data-toggle', 'modal');
            });
            $('#Assign').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
        });
    });

</script>



