﻿@using SunshareCommon
@model  SunshareHubOne.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}
@Html.AntiForgeryToken()
<div class="hpanel">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dashboard" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Date & Time")
                        </th>
                        <th>
                            @Html.DisplayName("First Name")
                        </th>
                        <th>
                            @Html.DisplayName("Last Name")
                        </th>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayName("Phone")
                        </th>
                        <th>
                            @Html.DisplayName("Assigned")
                        </th>
                        <th>
                            @Html.DisplayName("Status")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Leads)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RepName)
                            </td>
                            <td class="text-center">
                                @switch (item.LeadStausId)
                                {

                                    case LeadContractStatus.LeadCreated:
                                        @Html.Label("Lead Created", new { @class = "label-savelead" })
                                        break;
                                    case LeadContractStatus.ContractSent:
                                        @Html.Label("Outstanding Contract", new { @class = "label-outstanding" })
                                        break;
                                    case LeadContractStatus.ContractDeclined:
                                        @Html.Label("Contract Declined", new { @class = "label-declined" })
                                        break;
                                    case LeadContractStatus.ContractSigned:
                                        @Html.Label("Contract Signed", new { @class = "label-signed" })
                                        break;
                                    case LeadContractStatus.CotractInformationSent:
                                        @Html.Label("Information Sent", new { @class = "label-infosent" })
                                        break;
                                    default:
                                        @Html.Label("New", new { @class = "label-new" })
                                        break;
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryCustom")
@section scripts{

    <script>
        $(document).ready(function () {
            var table = $('#dashboard').dataTable();
        });
    </script>
}


