﻿@using SunshareCommon
@model  SunshareHubOne.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}
@Html.AntiForgeryToken()

@Html.HiddenFor(model=>model.SalesRepId)
@Html.HiddenFor(model=>model.IsAdmin)
<div class="hpanel">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="dashboard" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Date & Time")
                        </th>
                        <th>
                            @Html.DisplayName("First Name")
                        </th>
                        <th>
                            @Html.DisplayName("Last Name")
                        </th>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayName("Phone")
                        </th>
                        <th>
                            @Html.DisplayName("Assigned")
                        </th>
                        <th>
                            @Html.DisplayName("Reason")
                        </th>
                        <th>
                            @Html.DisplayName("Action")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Leads)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RepName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem=>item.DuplicateReason)
                            </td>
                            <td align="center">
                                @if (Model.IsAdmin)
                                {
                                    if (!item.IsDuplicateRequestDecided)
                                    {
                                        <a href='@Url.Action("RespondRequest", "Dashboard", new {@duplicateId = item.DuplicateRequestId, @isApproved = true, @salesRepId = Model.SalesRepId, @IsAdmin = true})' tooltip="">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>
                                        <a href='@Url.Action("RespondRequest", "Dashboard", new {@duplicateId = item.DuplicateRequestId, @isApproved = false, @salesRepId = Model.SalesRepId, @IsAdmin = true})' tooltip="">
                                            <i class="fa fa-thumbs-down"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        if (item.IsDuplicateContractApproved)
                                        {
                                            <i class="fa fa-thumbs-up"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-thumbs-down"></i>
                                        }
                                    }
                                }
                                else
                                {
                                    if (item.IsDuplicateRequestDecided)
                                    {
                                        if (item.IsDuplicateContractApproved)
                                        {
                                              <i class="fa fa-thumbs-up"></i>
                                          }
                                          else
                                          {
                                              <i class="fa fa-thumbs-down"></i>
                                          }
                                    }
                                    else
                                    {
                                        <i class="fa fa-thumb-tack"></i>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryCustom")

    <script>
        $(document).ready(function () {
            var table = $('#dashboard').dataTable();
        });
    </script>


