﻿@model object

<div class="form-group">
    @Html.LabelFor(m => m)
    <div class="">
        @Html.TextBoxFor(m => m, new { @class = "form-control", @readonly = "readonly" })
    </div>
</div>




