﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>SunShare | THE POWER TO CHOOSE</title>

    @Styles.Render("~/Content/bundle/custom")
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

</head>
<body class="blank">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>SunShare | THE POWER TO CHOOSE</h1>
        <img src="~/Content/custom/images/loading-bars.svg" width="64" height="64" /> </div> </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="color-line"></div>
    <div class="login-container">
        @RenderBody()
        
        <div class="row">
            <div class="col-md-12 text-center text-white">
                &copy; 2016 Copyright sunshare
            </div>
        </div>
    </div>


    <!-- Vendor scripts -->
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: true)

</body>
</html>
