﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SunHubOne-Login Page</title>
   
    <!-- Page title -->
    
    @Styles.Render("~/Content/bundle/custom")
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Simple splash screen-->
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container text-center">
        <div class="main_content_div">
            @RenderBody()
        </div>
        <div class="loginfooter text-center">&copy; 2016 Copyright SunShare</div>
    </div>


    <!-- Vendor scripts -->
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)

</body>
</html>

