﻿@using SunshareCommon
@model  SunshareHubOne.Models.DashboardViewModel

@Html.HiddenFor(model=> model.SearchText)
@Html.HiddenFor(model=>model.SalesRepId)
@if (Model.SearchLeads != null)
{
    
    <div class="hpanel">
        <div class="panel-body">
            <div class="table-responsive">
                <table id="searchdashboard" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Date & Time")
                            </th>
                            <th>
                                @Html.DisplayName("First Name")
                            </th>
                            <th>
                                @Html.DisplayName("Last Name")
                            </th>
                            <th>
                                @Html.DisplayName("Phone")
                            </th>
                            <th>
                                @Html.DisplayName("Email")
                            </th>
                            <th>
                                @Html.DisplayName("Status")
                            </th>

                            <th>
                                @Html.DisplayName("Action")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (Model.SearchLeads.Count != 0)
                    {
                        foreach (var item in Model.SearchLeads)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="text-center">
                                    @switch (item.LeadStausId)
                                    {

                                        case LeadContractStatus.LeadCreated:
                                            @Html.Label("Lead Created", new {@class = "label-savelead"})
                                            break;
                                        case LeadContractStatus.ContractSent:
                                            @Html.Label("Outstanding Contract", new {@class = "label-outstanding"})
                                            break;
                                        case LeadContractStatus.ContractDeclined:
                                            @Html.Label("Contract Declined", new {@class = "label-declined"})
                                            break;
                                        case LeadContractStatus.ContractSigned:
                                            @Html.Label("Contract Signed", new {@class = "label-signed"})
                                            break;
                                        case LeadContractStatus.CotractInformationSent:
                                            @Html.Label("Information Sent", new {@class = "label-infosent"})
                                            break;
                                        default:
                                            @Html.Label("New", new {@class = "label-new"})
                                            break;
                                    }
                                </td>
                                <td align="center">
                                    <a onclick="assignLead(@item.LeadId)" id="@item.LeadId"><span class="fa fa-user"></span></a>
                                    @*<a onclick="assignLead()" href="@Url.Action("AssignToMe", "Dashboard", new {@leadId = item.LeadId, @salesRepId = Model.SalesRepId, @searchText = Model.SearchText})"><span class="fa fa-user"></span></a>*@
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <p> No records to display</p>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<script>
    function assignLead(leadId) {
        //var leadId1 = e.ID;
        var repId = $('#SalesRepId').val();
        var search = $('#SearchText').val();
        //var leadId = $(this).html;
        alert(leadId + search);
        $.post('@Url.Action("AssignToMe", "Dashboard")',{leadId:leadId,salesRepId:repId, searchText: search }, function (result) {
            $("#container_inner_frame").html(result);
        });
    }
</script>