﻿@using SunshareCommon
@using SunshareDatabase
@model SunshareHubOne.Models.LeadViewModel

@Styles.Render("~/Content/bundle/custom")
<!DOCTYPE html>

@using (Html.BeginForm("MultipleCommand", "Lead", FormMethod.Post, new { id = "submitForm" }))
{
    @Html.AntiForgeryToken()
    SunshareDatabaseContext context = new SunshareDatabaseContext();
    @Html.HiddenFor(m => m.SalesRepId)
    @Html.HiddenFor(m => m.LeadId)
    @Html.ValidationSummary(true)


    <div class="row">
        <div class="col-md-6">
            <div class="hpanel horange">
                <div class="panel-heading hbuilt">
                    Personal Information
                    <div class="pull-right">
                        @switch (Model.LeadStausId)
                        {
                            case LeadContractStatus.LeadCreated:
                                @Html.Label("Lead", new { @class = "label label-info" })
                                break;
                            case LeadContractStatus.ContractSent:
                                @Html.Label("Sent", new { @class = "label label-warning" })
                                break;
                            case LeadContractStatus.ContractDeclined:
                                @Html.Label("Declined", new { @class = "label label-danger" })
                                break;
                            case LeadContractStatus.ContractSigned:
                                @Html.Label("Completed", new { @class = "label label-success" })
                                break;
                            default:
                                @Html.Label("New", new { @class = "label label-primary" })
                                break;
                        }
                        @if (Model.LeadStausId != LeadContractStatus.New)
                        {
                            <a class="btn btn-info btn-xs" id="refreshStatus"> <i class="fa fa-refresh"></i></a>
                        }
                        @if (@Model.IsEdit)
                        {
                            <a class="btn btn-warning2 btn-xs" data-toggle="modal" data-target="#myModal"> <i class="fa fa-phone"></i></a>
                        }
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div style="animation-delay: 0.2s;" class="col-lg-6 animated-panel zoomIn">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                <span class="has-error">
                                    @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @class = "alert-danger" })
                                </span>

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label " })
                                @Html.TextBoxFor(x => x.DateOfBirth, "{0:yyyy/MM/dd}", new { @class = "form-control" })
                                @*@Html.TextBoxFor(model => model.DateOfBirth, new { @id = "datapicker1", @placeholder = "MM-DD-YYYY",data_format= "MM/dd/yyyy", @class = "form -control datepicker" })*@
                                @*@Html.ValidationMessageFor(model => model.DateOfBirth, "Plese enter a valid format", new { @class = "alert-danger" })*@
                            </div>
                        </div>
                        <div style="animation-delay: 0.2s;" class="col-lg-6  animated-panel zoomIn">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                @Html.HiddenFor(model => model.LastName)
                                @Html.ValidationMessageFor(model => model.LastName, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceApartmentNo, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ServiceApartmentNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ServiceApartmentNo, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="col-lg-12 animated-panel zoomIn" style="animation-delay: 0.3s;">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceAddress, new { @class = "control-label required" })
                                @Html.TextAreaFor(model => model.ServiceAddress, new { @row = "3", @maxlength = "25", @tabindex = "3", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ServiceAddress, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 0.4s;">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceCity, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.ServiceCity, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ServiceCity, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerZipCode, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.SerZipCode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SerZipCode, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div style="animation-delay: 0.4s;" class="col-lg-6  animated-panel zoomIn">
                            <div class="form-group">
                                @Html.LabelFor(model => model.States, new { @class = "control-label required" })
                                @Html.DropDownListFor(model => model.SerStateId, Model.States, new { @class = "form-control", @placeholder = "Select State", @tabindex = "6" })
                                @Html.ValidationMessageFor(model => model.SerStateId, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Counties, new { @class = "control-label required" })
                                @Html.DropDownListFor(model => model.SerCountyId, Model.Counties, new { @class = "form-control", @placeholder = "Select State", @tabindex = "6" })
                                @Html.ValidationMessageFor(model => model.SerCountyId, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Phone, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LeadRankings, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.LeadRankingId, Model.LeadRankings, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LeadRankingId, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="col-lg-12 animated-panel zoomIn" style="animation-delay: 0.5s;">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" checked="" value="option1" id="sameAsService">
                                    Service address same as Billing address
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animated-panel zoomIn" style="animation-delay: 0.1s;">
            <div class="hpanel horange">
                <div class="panel-heading hbuilt"> Campaign Information </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Campaigns, new { @class = "control-label required" })
                        @Html.DropDownListFor(model => model.CampaignId, Model.Campaigns, new { @class = "form-control", @placeholder = "Select State", @tabindex = "6" })
                        @Html.ValidationMessageFor(model => model.CampaignId, string.Empty, new { @class = "alert-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ReferedBy, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ReferedBy, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ReferedBy, string.Empty, new { @class = "alert-danger" })
                    </div>
                </div>
            </div>
            <div class="hpanel horange">
                <div class="panel-heading hbuilt"> WHAT MADE YOU CALL US TODAY?</div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeadSources, new { @class = "control-label required" })
                        @Html.DropDownListFor(model => model.LeadSourceId, Model.LeadSources, new { @class = "form-control", @placeholder = "Select State", @tabindex = "6" })
                        @Html.ValidationMessageFor(model => model.LeadSourceId, string.Empty, new { @class = "alert-danger" })
                    </div>
                </div>
            </div>
            <div class="hpanel horange">
                <div class="panel-heading hbuilt">Utility Info</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 animated-panel zoomIn" style="animation-delay: 0.6s;">
                                <label>Subscription : </label>
                            </div>
                            <div class="col-md-3 animated-panel zoomIn" style="animation-delay: 0.7s;">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Subscription, "80", new { @class = "radio" }) 80%

                                </label>
                            </div>
                            <div class="col-md-3 animated-panel zoomIn" style="animation-delay: 0.7s;">
                                <label class="radio-inline">

                                    @Html.RadioButtonFor(m => m.Subscription, "100", new { @class = "radio" }) 100%

                                </label>
                            </div>
                            <div class="col-md-2 animated-panel zoomIn" style="width: 20%; animation-delay: 0.8s;">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Subscription, "120", new { @class = "radio" }) 120%
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-t-10">
                        <div class="row">
                            <div class="col-md-6 animated-panel zoomIn" style="animation-delay: 0.8s;">
                                @Html.LabelFor(model => model.UtilityAccountNumber, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.UtilityAccountNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UtilityAccountNumber, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="col-md-6 animated-panel zoomIn" style="animation-delay: 0.9s;">
                                @Html.LabelFor(model => model.UtilityProvider, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.UtilityProvider, new { @class = "form-control", @readonly = "'", @tabindex = "19", @Value = "Xcel Energy Provider" })
                                @Html.ValidationMessageFor(model => model.UtilityProvider, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none" id="billAdd" class="row">
        <div style="animation-delay: 1s;" class="col-md-12 animated-panel zoomIn">
            <div class="hpanel horange">
                <div class="panel-heading hbuilt"> Billing Address </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 1s;">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillingAddress)
                                @Html.TextBoxFor(model => model.BillingAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BillingAddress, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillingCity, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.BillingCity, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BillingCity, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BilZipCode, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.BilZipCode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BilZipCode, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 1.1s;">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillingApartmentNo, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.BillingApartmentNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BillingApartmentNo, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.States, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.BilStateId, Model.States, new { @class = "form-control", @placeholder = "Select State", @tabindex = "6" })
                                @Html.ValidationMessageFor(model => model.BilStateId, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Counties, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.BilCountyId, Model.Counties, new { @class = "form-control", @placeholder = "Select State", @tabindex = "6" })
                                @Html.ValidationMessageFor(model => model.BilCountyId, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="animation-delay: 1.1s;" class="col-lg-12 animated-panel zoomIn">
            <div class="hpanel">
                <div class="panel-body float-e-margins">
                    <div class="row">
                        <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.2s;">
                            <button id="btnContract" name="Command" class="btn btn-primary btn-block " type="submit" value="Contract"><i class="fa fa-check"></i>Generate Contract</button>
                        </div>
                        <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.3s;">
                            <button id="btnInfo" name="Command" class="btn btn-success btn-block " type="submit" value="Info"><i class="fa fa-send"></i> Send Information</button>
                        </div>
                        <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.3s;">
                            <button id="btnSave" name="Command" class="btn btn-info btn-block" type="submit" value="Save"><i class="fa fa-paste"></i> Save Lead</button>
                        </div>
                        <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.4s;">
                            <button id="btnClear" name="Command" style="background-color:#f7f9fa" class="btn btn-default btn-block text-danger" type="submit" value="Clear"><i class="fa  fa-times-circle-o"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right sidebar -->
    <div id="right-sidebar" class="animated fadeInRight" style="width:400px!important;">
        <div class="p-m">
            <a id="sidebar-close" class="right-sidebar-toggle sidebar-button btn btn-default m-b-md"><i class="pe pe-7s-close"></i> </a>
        </div>
        <div>
            <span class="font-bold no-margins"> <h3 class="text-center font-bold">Activity History</h3></span><br>
            <div class="row m-t-sm m-b-sm">
                <div class="col-md-12 animated-panel zoomIn">
                    <div class="hpanel">
                        <div class="table-responsive">
                            <table class="table table-striped table-responsive compact">
                                <thead>
                                    <tr>
                                        <th>Date&Time</th>
                                        <th>Description</th>
                                        <th>User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (SunshareHubOne.Models.LeadHistory item in Model.LeadHistories)
                                    {
                                        <tr>
                                            <td>@item.Date</td>
                                            <td>
                                                <span class="font-bold">@item.Comments <small class="text-muted">@item.ProcessDate</small></span>
                                            </td>
                                            <td>@item.DoneBy</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myCalls">
        <div class="modal-dialog">
            @*<form role="form" action="@Url.Action("CallLog", "Lead")" method="post">*@
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <h4 class="modal-title">Call Log</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CallStatus, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.CallStatusId, Model.CallStatus, new { @class = "form-control", @placeholder = "Select State", @tabindex = "6" })
                        @Html.ValidationMessageFor(model => model.CallStatusId, string.Empty, new { @class = "alert-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CallComment, new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.CallComment, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CallComment, string.Empty, new { @class = "alert-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CallDate, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.CallDate, "{0:yyyy/MM/dd}", new { @class = "form-control" })
                        @*@Html.TextBoxFor(model => model.DateOfBirth, new { @id = "datapicker1", @placeholder = "MM-DD-YYYY",data_format= "MM/dd/yyyy", @class = "form -control datepicker" })*@
                        @Html.ValidationMessageFor(model => model.CallDate, string.Empty, new { @class = "alert-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" id="log" name="command" value="Log" />
                </div>
            </div>
            @*</form>*@
        </div>
    </div>
}



@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#CallDate').datetimepicker({
            timepicker: false,
            format: 'm/d/Y'
        });

        $('#DateOfBirth').datetimepicker({
            timepicker: false,
            format: 'm/d/Y'        });

        $(document).ready(function () {

            document.addEventListener("DOMContentLoaded", function () {
                var elements = document.getElementsByTagName("INPUT");
                for (var i = 0; i < elements.length; i++) {
                    elements[i].oninvalid = function (e) {
                        e.target.setCustomValidity("");
                        if (!e.target.validity.valid) {
                            e.target.setCustomValidity("Please enter the correct data");
                        }
                    };
                    elements[i].oninput = function (e) {
                        e.target.setCustomValidity("");
                    };
                }
            })


            $('#log').click(function (e) {
                e.preventDefault();
                var comment = $('#CallComment').val();
                var leadId = $('#LeadId').val();
                var statusId = $('#CallStatusId').val();
                var callDate = $('#CallDate').val();
                var repId = $('#SalesRepId').val();
                $.ajax({
                    url: '@Url.Action("CallLog", "Lead")',
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    data: "{'callComment': '" + comment + "','leadId': '" + leadId + "','callStatusId': '" + statusId + "','callDate': '" + callDate + "','repId': '" + repId + "' }",
                    dataType: "json",
                    success: function (data) {

                        $('#myModal').modal('hide')
                    },
                    //error: function (xhr, status, error) {
                    //    alert(xhr.error);
                    //}
                });
            });

            $('#refreshStatus').click(function (e) {

                e.preventDefault(); // <------------------ stop default behaviour of button
                $.ajax({
                    url: '@Url.Action("Refresh", "Lead")',
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    data: "{ 'repId':" + $('#SalesRepId').val() + ",'leadid':" + $('#LeadId').val() + "}",
                    dataType: "json",
                    success: function (retURL) {
                        window.location.assign(retURL);
                    }
                });
            });

            $('#callLog').click(function() {
                $('#addCallLog').show();
            });

            $('#sameAsService').change(function () {
                if (this.checked) {
                    $('#billAdd').hide();
                }
                else {
                    $('#billAdd').show();
                }

            });
        });


    </script>
}


