﻿@using SunshareCommon
@using SunshareDatabase
@using SunshareHubOne.Controls
@model SunshareHubOne.Models.LeadViewModel

@Styles.Render("~/Content/bundle/custom")
<!DOCTYPE html>

@using (Html.BeginForm("MultipleCommand", "Lead", FormMethod.Post, new { id = "submitForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SalesRepId)
    @Html.HiddenFor(m => m.LeadId)
    @Html.ValidationSummary(true)

    @*@Html.Toasts("toaster")*@
    <div class="row">
        <div class="col-md-6">
            <div class="hpanel horange">
                <div class="panel-heading hbuilt">
                    <h4 class="pull-left">Personal Information</h4>
                    <div class="pull-right personal-info">

                        @switch (Model.LeadStausId)
                        {

                            case LeadContractStatus.LeadCreated:
                                @Html.Label("Lead Created", new { @class = "label-savelead" })
                                break;
                            case LeadContractStatus.ContractSent:
                                @Html.Label("Outstanding Contract", new { @class = "label-outstanding" })
                                break;
                            case LeadContractStatus.ContractDeclined:
                                @Html.Label("Contract Declined", new { @class = "label-declined" })
                                break;
                            case LeadContractStatus.ContractSigned:
                                @Html.Label("Contract Signed", new { @class = "label-signed" })
                                break;
                            case LeadContractStatus.CotractInformationSent:
                                @Html.Label("Information Sent", new { @class = "label-infosent" })
                                break;
                            default:
                                @Html.Label("New", new { @class = "label-primary" })
                                break;
                        }

                        @if (Model.LeadStausId != LeadContractStatus.New)
                        {
                            <a class="btn btn-info btn-sm" id="refreshStatus"> <i class=" pe-7s-refresh"></i></a>
                        }
                        @if (@Model.IsEdit)
                        {
                            <a class="btn btn-warning2 btn-sm" data-toggle="modal" data-target="#myModal"> <i class="pe-7s-call"></i></a>
                        }
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div style="animation-delay: 0.2s;" class="col-lg-6 animated-panel zoomIn">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @tabindex = "1" })
                                <span class="has-error">
                                    @Html.ValidationMessageFor(model => model.FirstName, string.Empty, new { @class = "alert-danger" })
                                </span>

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label " })
                                @Html.TextBoxFor(x => x.DateOfBirth, "{0:yyyy/MM/dd}", new { @class = "form-control", @tabindex = "3" })
                                @*@Html.TextBoxFor(model => model.DateOfBirth, new { @id = "datapicker1", @placeholder = "MM-DD-YYYY",data_format= "MM/dd/yyyy", @class = "form -control datepicker" })*@
                                @*@Html.ValidationMessageFor(model => model.DateOfBirth, "Plese enter a valid format", new { @class = "alert-danger" })*@
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceAddress, new { @class = "control-label required" })
                                @Html.TextAreaFor(model => model.ServiceAddress, new { @row = "3", @maxlength = "25", @tabindex = "5", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ServiceAddress, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div style="animation-delay: 0.2s;" class="col-lg-6  animated-panel zoomIn">
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @tabindex = "2" })
                                @Html.ValidationMessageFor(model => model.LastName, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @tabindex = "10" })
                                @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceApartmentNo, new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.ServiceApartmentNo, new { @class = "form-control", @tabindex = "4" })
                                @Html.ValidationMessageFor(model => model.ServiceApartmentNo, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 0.4s;">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ServiceCity, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.ServiceCity, new { @class = "form-control", @tabindex = "6" })
                                @Html.ValidationMessageFor(model => model.ServiceCity, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SerZipCode, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.SerZipCode, new { @class = "form-control", @tabindex = "8" })
                                @Html.ValidationMessageFor(model => model.SerZipCode, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Channels, new { @class = "control-label required" })
                                @Html.DropDownListFor(model => model.ChannelId, Model.Channels, "Select Channel", new { @class = "form-control", @tabindex = "12" })
                                @Html.ValidationMessageFor(model => model.ChannelId, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LeadRankings, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.LeadRankingId, Model.LeadRankings, "Select Lead Ranking", new { @class = "form-control", @tabindex = "13" })
                                @Html.ValidationMessageFor(model => model.LeadRankingId, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div style="animation-delay: 0.4s;" class="col-lg-6  animated-panel zoomIn">
                            <div class="form-group">
                                @Html.LabelFor(model => model.States, new { @class = "control-label required" })
                                @Html.DropDownListFor(model => model.SerStateId, Model.States, "Select State", new { @class = "form-control", @tabindex = "7" })
                                @Html.ValidationMessageFor(model => model.SerStateId, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Counties, new { @class = "control-label required" })
                                <span id="serCountyDiv">@Html.DropDownListFor(model => model.SerCountyId, Model.Counties, "Select County", new { @class = "form-control", @tabindex = "9" })</span>
                                @Html.ValidationMessageFor(model => model.SerCountyId, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, new { @class = "control-label required" })
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @tabindex = "11" })
                                @Html.ValidationMessageFor(model => model.Phone, string.Empty, new { @class = "alert-danger" })
                            </div>

                        </div>
                        <div class="col-lg-12 animated-panel zoomIn" style="animation-delay: 0.5s;">
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" checked="" value="option1" id="sameAsService">
                                    Service address same as Billing address
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 animated-panel zoomIn" style="animation-delay: 0.1s;">
            <div class="hpanel horange">
                <div class="panel-heading hbuilt"> <h4 class="pull-left">Campaign Information</h4> </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Campaigns, new { @class = "control-label required" })
                        @Html.DropDownListFor(model => model.CampaignId, Model.Campaigns, "Select Campaign", new { @class = "form-control", @tabindex = "14" })
                        @Html.ValidationMessageFor(model => model.CampaignId, string.Empty, new { @class = "alert-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Incentive, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Incentive, new { @class = "form-control", @readonly = "'" })
                        @Html.ValidationMessageFor(model => model.Incentive, string.Empty, new { @class = "alert-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LeadSources, new { @class = "control-label required" })
                        @Html.DropDownListFor(model => model.LeadSourceId, Model.LeadSources, "Select Lead Source", new { @class = "form-control", @tabindex = "17" })
                        @Html.ValidationMessageFor(model => model.LeadSourceId, string.Empty, new { @class = "alert-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ReferedBy, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ReferedBy, new { @class = "form-control", @tabindex = "16" })
                        @Html.ValidationMessageFor(model => model.ReferedBy, string.Empty, new { @class = "alert-danger" })
                    </div>
                </div>
            </div>
            <div class="hpanel horange">
                <div class="panel-heading hbuilt"> <h4 class="pull-left">Utility Info</h4></div>
                <div class="panel-body utility-info">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 animated-panel zoomIn" style="animation-delay: 0.6s;">
                                <label>Subscription : </label>
                            </div>
                            <div class="col-md-3 animated-panel zoomIn" style="animation-delay: 0.7s;">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Subscription, "80", new { @class = "radio" }) 80%

                                </label>
                            </div>
                            <div class="col-md-3 animated-panel zoomIn" style="animation-delay: 0.7s;">
                                <label class="radio-inline">

                                    @Html.RadioButtonFor(m => m.Subscription, "100", new { @class = "radio" }) 100%

                                </label>
                            </div>
                            <div class="col-md-2 animated-panel zoomIn" style="width: 20%; animation-delay: 0.8s;">
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(m => m.Subscription, "120", new { @class = "radio" }) 120%
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-t-10">
                        <div class="row">
                            <div class="col-md-6 animated-panel zoomIn" style="animation-delay: 0.8s;">
                                @Html.LabelFor(model => model.UtilityAccountNumber, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.UtilityAccountNumber, new { @class = "form-control", @tabindex = "18" })
                                @Html.ValidationMessageFor(model => model.UtilityAccountNumber, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="col-md-6 animated-panel zoomIn" style="animation-delay: 0.9s;">
                                @Html.LabelFor(model => model.UtilityProvider, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.UtilityProvider, new { @class = "form-control", @readonly = "'", @Value = "Xcel Energy Provider" })
                                @Html.ValidationMessageFor(model => model.UtilityProvider, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none" id="billAdd" class="row">
        <div style="animation-delay: 1s;" class="col-md-12 animated-panel zoomIn">
            <div class="hpanel horange">
                <div class="panel-heading hbuilt"> Billing Address </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 1s;">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillingAddress)
                                @Html.TextBoxFor(model => model.BillingAddress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BillingAddress, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillingCity, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.BillingCity, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BillingCity, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.BilZipCode, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.BilZipCode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BilZipCode, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6 animated-panel zoomIn" style="animation-delay: 1.1s;">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillingApartmentNo, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.BillingApartmentNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BillingApartmentNo, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.States, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.BilStateId, Model.States, "Select State", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BilStateId, string.Empty, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Counties, new { @class = "control-label" })
                                <span id="bilCountyDiv">
                                    @Html.DropDownListFor(model => model.BilCountyId, Model.Counties, "Select County", new { @class = "form-control" })
                                </span>
                                @Html.ValidationMessageFor(model => model.BilCountyId, string.Empty, new { @class = "alert-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="animation-delay: 1.1s;" class="col-lg-12 animated-panel zoomIn">
            <div class="hpanel">
                <div class="panel-body float-e-margins">
                    <div class="row">
                        @if (Model.LeadStausId == LeadContractStatus.LeadCreated || Model.LeadStausId == LeadContractStatus.CotractInformationSent || Model.LeadStausId == LeadContractStatus.New)
                        {
                            <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.2s;">
                                <button id="btnContract" name="Command" class="btn btn-primary btn-block " type="submit" value="Contract" tabindex="22"><i class="fa fa-check"></i>Generate Contract</button>
                            </div>
                        }
                        else if (!Model.AllowDuplicateContract && (Model.LeadStausId == LeadContractStatus.ContractSent || Model.LeadStausId == LeadContractStatus.ContractSigned))
                        {
                            <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.2s;">
                                <button id="btnContract" name="Command" class="btn btn-primary btn-block " type="submit" value="Request" tabindex="22"><i class="fa fa-check"></i>Re-Generate Request</button>
                            </div>
                        }
                        else if (Model.AllowDuplicateContract)
                        {
                            <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.2s;">
                                <button id="btnContract" name="Command" class="btn btn-primary btn-block " type="submit" value="ReContract" tabindex="22"><i class="fa fa-check"></i>Re-Generate Contract</button>
                            </div>
                        }
                        @if (Model.LeadStausId == LeadContractStatus.LeadCreated || Model.LeadStausId == LeadContractStatus.CotractInformationSent || Model.LeadStausId == LeadContractStatus.New)
                        {
                            <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.3s;">
                                <button id="btnInfo" name="Command" class="btn btn-success btn-block " type="submit" value="Info" tabindex="21"><i class="fa fa-send"></i> Send Information</button>
                            </div>
                        }
                        @{
                            var saveButtonText = (@Model.LeadStausId == LeadContractStatus.New) ? "Save Lead" : "Update Lead";
                            <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.3s;">
                                <button id="btnSave" name="Command" class="btn btn-info btn-block" type="submit" value="Save" tabindex="20"><i class="fa fa-paste"></i> @saveButtonText</button>
                            </div>
                        }
                        <div class="col-lg-3 animated-panel zoomIn" style="animation-delay: 1.4s;">
                            <button id="btnClear" name="Command" style="background-color: #f7f9fa" class="btn btn-default btn-block text-danger" type="submit" value="Clear"><i class="fa  fa-times-circle-o"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Right sidebar -->
                            <div id="right-sidebar" class="animated fadeInRight" style="width: 600px !important;">
                                <div class="p-m">
                                    <a id="sidebar-close" class="right-sidebar-toggle sidebar-button btn btn-default m-b-md"><i class="pe pe-7s-close"></i> </a>
                                </div>
                                <div class="hpanel">
                                    <div aria-multiselectable="false" role="tablist" id="accordion" class="panel-group">
                                        <div class="panel panel-default">
                                            <div id="headingOne" role="tab" class="panel-heading">
                                                <h4 class="panel-title"> <a aria-controls="collapseOne" aria-expanded="false" href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="collapsed"> Lead Information </a> </h4>
                                            </div>
                                            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse in" id="collapseOne" aria-expanded="false" style="height: 0px;">
                                                <div class="panel-body">
                                                    @if (Model.LeadHistories != null)
                                                    {
                                                        if (Model.LeadHistories.LeadCreatedBy != null)
                                                        {
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-4">
                                                                    <label class="btn label-savelead"><i class="fa fa-check-circle"></i> Lead Created</label>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-8">
                                                                    <p class="information">By:@Model.LeadHistories.LeadCreatedBy <br />On:@Model.LeadHistories.LeadCreatedOn</p>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-4">
                                                                    <label class="btn label-savelead">Lead Created</label>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-8">
                                                                    <p class="information">By: <br />On:</p>
                                                                </div>
                                                            </div>
                                                        }
                                                        if (Model.LeadHistories.InformationSentBy != null)
                                                        {
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-4">
                                                                    <label class="btn label-infosent"><i class="fa fa-check-circle"></i>Information Sent</label>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-8">
                                                                    <p class="information">By:@Model.LeadHistories.InformationSentBy <br />On:@Model.LeadHistories.InformationSentOn</p>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-4">
                                                                    <label class="btn label-infosent">Information Sent</label>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-8">
                                                                    <p class="information">By: <br />On:</p>
                                                                </div>
                                                            </div>
                                                        }
                                                        if (Model.LeadHistories.ContractSentBy != null)
                                                        {
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-4">
                                                                    <label class="btn label-outstanding"><i class="fa fa-check-circle"></i>Contract Sent</label>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-8">
                                                                    <p class="information">By:@Model.LeadHistories.ContractSentBy <br />On:@Model.LeadHistories.ContractSentOn</p>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-4">
                                                                    <label class="btn label-outstanding">Contract Sent</label>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-8">
                                                                    <p class="information">By: <br />On:</p>
                                                                </div>
                                                            </div>
                                                        }
                                                        if (Model.LeadHistories.ContractSignedBy != null)
                                                        {
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-4">
                                                                    <label class="btn label-signed">Contract Signed</label>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-8">
                                                                    <p class="information">By:@Model.LeadHistories.ContractSignedBy <br />On:@Model.LeadHistories.ContractSignedOn</p>
                                                                </div>
                                                            </div>
                                                        }
                                                        if (Model.LeadHistories.ContractDeclinedBy != null)
                                                        {
                                                            <div class="row">
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-4">
                                                                    <label class="btn label-declined">Contract Declined</label>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-6 col-mg-2 col-lg-8">
                                                                    <p class="information">By:@Model.LeadHistories.ContractDeclinedBy <br />On:@Model.LeadHistories.ContractDeclinedOn</p>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                        <div class="panel panel-default">
                                            <div id="headingTwo" role="tab" class="panel-heading">
                                                <h4 class="panel-title"> <a aria-controls="collapseTwo" aria-expanded="false" href="#collapseTwo" data-parent="#accordion" data-toggle="collapse" class="collapsed"> Call Log </a> </h4>
                                            </div>
                                            <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseTwo" aria-expanded="false">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-responsive compact">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date & Time</th>
                                                                    <th>Action</th>
                                                                    <th>Comments</th>
                                                                    <th>User</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.CallHistories != null)
                                                                {
                                                                    if (Model.CallHistories.Count() != 0)
                                                                    {
                                                                        foreach (var item in Model.CallHistories)
                                                                        {
                                                                            <tr>
                                                                                <td>@item.Date</td>
                                                                                <td>@item.Title</td>
                                                                                <td>
                                                                                    <span class="font-bold">
                                                                                        @item.Comments <br />
                                                                                        @if (!string.IsNullOrEmpty(@item.ProcessDate))
                                                                                        {
                                                                                            <small class="text-muted"><strong>@item.ProcessDate</strong></small>
                                                                                        }
                                                                                    </span>
                                                                                </td>
                                                                                <td>@item.DoneBy</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <p>No call lon information to display</p>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div id="headingThree" role="tab" class="panel-heading">
                                                <h4 class="panel-title"> <a aria-controls="collapseThree" aria-expanded="false" href="#collapseThree" data-parent="#accordion" data-toggle="collapse" class="collapsed"> Assignment Log </a> </h4>
                                            </div>
                                            <div aria-labelledby="headingThree" role="tabpanel" class="panel-collapse collapse" id="collapseThree" aria-expanded="false">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-responsive compact">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date & Time</th>
                                                                    <th>Action</th>
                                                                    <th>Comments</th>
                                                                    <th>User</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.AssignHistories != null)
                                                                {
                                                                    if (Model.AssignHistories.Count() != 0)
                                                                    {
                                                                        foreach (var item in Model.AssignHistories)
                                                                        {
                                                                            <tr>
                                                                                <td>@item.Date</td>
                                                                                <td>@item.Title</td>
                                                                                <td>
                                                                                    <span class="font-bold">
                                                                                        @item.Comments <br />
                                                                                        @if (!string.IsNullOrEmpty(@item.ProcessDate))
                                                                                        {
                                                                                            <small class="text-muted"><strong>@item.ProcessDate</strong></small>
                                                                                        }
                                                                                    </span>
                                                                                </td>
                                                                                <td>@item.DoneBy</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <p>No Assignment history to display</p>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myCalls">
                                <div class="modal-dialog">
                                    @*<form role="form" action="@Url.Action("CallLog", "Lead")" method="post">*@
                                    <div class="modal-content">
                                        <div class="color-line"></div>
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title">Call Log</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CallStatus, new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.CallStatusId, Model.CallStatus, "Select call status", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.CallStatusId, string.Empty, new { @class = "alert-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.CallComment, new { @class = "control-label" })
                                                @Html.TextAreaFor(model => model.CallComment, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.CallComment, string.Empty, new { @class = "alert-danger" })
                                            </div>
                                            <div id="dateAppointment" class="form-group hidden">
                                                @Html.LabelFor(model => model.CallDate, new { @class = "control-label" })
                                                @Html.TextBoxFor(x => x.CallDate, "{0:yyyy/MM/dd}", new { @class = "form-control" })
                                                @*@Html.TextBoxFor(model => model.DateOfBirth, new { @id = "datapicker1", @placeholder = "MM-DD-YYYY",data_format= "MM/dd/yyyy", @class = "form -control datepicker" })*@
                                                @Html.ValidationMessageFor(model => model.CallDate, string.Empty, new { @class = "alert-danger" })
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-success" id="log" name="command" value="Log" />
                                        </div>
                                    </div>
                                    @*</form>*@
                                </div>
                            </div>
                            }



@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#SerStateId').change(function() {
            $.ajax({
                type: "post",
                url: '@Url.Action("GetCounty", "Lead")',
                data: { stateId: $('#SerStateId').val() },
                datatype: "json",
                traditional: true,
                success: function(data) {
                    var district = $('#SerCountyId');
                    district.empty().append('<option></option>').val('').text('Select County');
                    $.each(data, function(index, item) {
                        district.append($('<option></option>').val(item.Value).text(item.Text));
                    });
                    //$('#serCountyDiv').html(district);
                }
            });
        }).change();

        $('BilStateId').change(function() {
            $.ajax({
                type: "post",
                url: '@Url.Action("GetCounty", "Lead")',
                data: { stateId: $('#BilStateId').val() },
                datatype: "json",
                traditional: true,
                success: function(data) {
                    var district = $('#BilCountyId');
                    district.empty().append('<option></option>').val('').text('Select County');
                    $.each(data, function(index, item) {
                        district.append($('<option></option>').val(item.Value).text(item.Text));
                    });
                }
            });
        }).change();


        $('#CallDate').datetimepicker({
            timepicker: false,
            format: 'm/d/Y',
            timeFormat: 'hh:mm tt',
            minDate: '-1970/01/01'
        });

        $("#CallStatusId").change(function() {
            if ($('option:selected', this).text() == "Call Back") {
                $('#dateAppointment').removeClass("hidden");
            } else {
                $('#dateAppointment').addClass("hidden");
            }
        });

        $('#DateOfBirth').datetimepicker({
            timepicker: false,
            format: 'm/d/Y',
            maxDate: '-1970/01/01'
        });

        $(document).ready(function() {

            //$("#toaster").toast();
            document.addEventListener("DOMContentLoaded", function() {
                var elements = document.getElementsByTagName("INPUT");
                for (var i = 0; i < elements.length; i++) {
                    elements[i].oninvalid = function(e) {
                        e.target.setCustomValidity("");
                        if (!e.target.validity.valid) {
                            e.target.setCustomValidity("Please enter the correct data");
                        }
                    };
                    elements[i].oninput = function(e) {
                        e.target.setCustomValidity("");
                    };
                }
            });


            $('#log').click(function(e) {
                e.preventDefault();
                var comment = $('#CallComment').val();
                var leadId = $('#LeadId').val();
                var statusId = $('#CallStatusId').val();
                var callDate = $('#CallDate').val();
                var repId = $('#SalesRepId').val();
                $.ajax({
                    url: '@Url.Action("CallLog", "Lead")',
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    data: "{'callComment': '" + comment + "','leadId': '" + leadId + "','callStatusId': '" + statusId + "','callDate': '" + callDate + "','repId': '" + repId + "' }",
                    dataType: "json",
                    success: function(data) {
                        $('#myModal').modal('hide')
                    },
                    error: function(xhr, status, error) {
                        alert(xhr.error);
                    }
                });
            });

            $('#refreshStatus').click(function(e) {

                //e.preventDefault(); // <------------------ stop default behaviour of button
                $.ajax({
                    url: '@Url.Action("Refresh", "Lead")',
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    data: "{ 'repId':" + $('#SalesRepId').val() + ",'leadid':" + $('#LeadId').val() + "}",
                    dataType: "json",
                    success: function(retURL) {
                        window.location.assign(retURL);
                    }
                });
            });

            $('#callLog').click(function() {
                $('#addCallLog').show();
            });

            $('#sameAsService').change(function() {
                if (this.checked) {
                    $('#billAdd').hide();
                } else {
                    $('#billAdd').show();
                }

            });
        });
    </script>
}


