﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Page title -->
    <title>Sunshare | THE POWER TO CHOOSE</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- Vendor styles -->
    @Styles.Render("~/Content/bundle/custom")
</head>
<body>

    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line"></div>
        <div class="splash-title">
            <img src="../Content/custom/images/loading-bars.svg" width="64" height="64" />
        </div>
    </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div id="header">
        <div class="color-line">
        </div>
        <div id="logo" class="light-version">
            <img src="../Content/custom/images/logo.png" alt="logo" />
        </div>
        <nav role="navigation">
            <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
            <div class="small-logo">
                <span class="text-primary">SUNSHARE HUB</span>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav no-borders">
                    <li> <a class="right-sidebar-toggle" id="sidebar" href="#"> <i class="pe-7s-upload pe-7s-news-paper"></i> </a> </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                            <i class="pe-7s-speaker"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>


    <!-- Navigation -->
    <aside id="menu">
        <div id="navigation">
            <div class="profile-picture">
                <a href="index-2.html">
                    <img src="../Content/custom/images/profile.jpg" class="img-circle m-b" alt="logo">
                </a>

                <div class="stats-label text-color">
                    <span class="font-extra-bold font-uppercase">Robert Razer</span>
                    <div id="sparkline1" class="small-chart m-t-sm"></div>
                    <div>
                        <h5 class="font-extra-bold m-b-xs">
                            $260 104,200
                        </h5>
                    </div>
                </div>
            </div>

            <ul class="nav" id="side-menu">
                <li class="active">
                    <a href="#"> <span class="nav-label">Leads</span></a>
                </li>
                <li>
                    <a href="#"> <span class="nav-label">campaign</span></a>
                </li>

            </ul>
        </div>
    </aside>


    <!-- Main Wrapper -->
<div id="wrapper">
    <div class="content animate-panel">
        @RenderBody()
    </div>
    <!-- Right sidebar -->
    <!-- Footer-->
    <footer class="footer">
        <span class="pull-right">

            </span>
        &copy; SunShare LLC 2016
    </footer>
</div>
    <div class="animated fadeInRight" id="right-sidebar">
        <div class="p-m">
            <button class="right-sidebar-toggle sidebar-button btn btn-default m-b-md" id="sidebar-close"><i class="pe pe-7s-close"></i> </button>
            <div> <span class="font-bold no-margins"> Analytics </span></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel hbggreen">
                    <div style="padding:0" class="panel-body">
                        <div class="text-center">
                            <h5>Contract Signed</h5>
                            <p class="text-big font-light">
                                20
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="hpanel hbgblue">
                    <div style="padding:0" class="panel-body">
                        <div class="text-center">
                            <h5>Information Sent</h5>
                            <p class="text-big font-light">
                                160
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="hpanel hbgyellow">
                    <div style="padding:0" class="panel-body">
                        <div class="text-center">
                            <h5>Contract Delivered</h5>
                            <p class="text-big font-light">
                                150
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="hpanel hbgred">
                    <div style="padding:0" class="panel-body">
                        <div class="text-center">
                            <h5>Contract Declined</h5>
                            <p class="text-big font-light">
                                43
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Vendor scripts -->
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: true)

    @*<script>
        $(function () {

            /**
             * Flot charts data and options
             */
            var data1 = [ [0, 55], [1, 48], [2, 40], [3, 36], [4, 40], [5, 60], [6, 50], [7, 51] ];
            var data2 = [ [0, 56], [1, 49], [2, 41], [3, 38], [4, 46], [5, 67], [6, 57], [7, 59] ];

            var chartUsersOptions = {
                series: {
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                },
                grid: {
                    tickColor: "#f0f0f0",
                    borderWidth: 1,
                    borderColor: 'f0f0f0',
                    color: '#6a6c6f'
                },
                colors: [ "#62cb31", "#efefef"],
            };

            $.plot($("#flot-line-chart"), [data1, data2], chartUsersOptions);

            /**
             * Flot charts 2 data and options
             */
            var chartIncomeData = [
                {
                    label: "line",
                    data: [ [1, 10], [2, 26], [3, 16], [4, 36], [5, 32], [6, 51] ]
                }
            ];

            var chartIncomeOptions = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 0,
                        fill: true,
                        fillColor: "#64cc34"

                    }
                },
                colors: ["#62cb31"],
                grid: {
                    show: false
                },
                legend: {
                    show: false
                }
            };

            $.plot($("#flot-income-chart"), chartIncomeData, chartIncomeOptions);



        });

        </script>*@
</body>
</html>
